
<%- include('partials/header') %>

<main >
  <h1><%= title %></h1>
  <div class="event-card">
    <h3>Park Cleanup</h3>
    <p>Join us to clean up local parks and make them beautiful!</p>
  </div>
  <div class="event-card">
    <h3>Food Drive</h3>
    <p>Help collect and distribute food to those in need.</p>
  </div>
  <div class="event-card">
    <h3>Community Tutoring</h3>
    <p>Volunteer to tutor students in various subjects.</p>
  </div>
</main>

<%- include('partials/footer') %>
